body {
  background-color: #151A33;
  line-height: 16px;
}

.header h2 {
  float: left;
}

.header span {
  float: right; padding: 10px
}

  .playback {
    background-color: #2F3157;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .share {
    background-color: white; padding: 20px; font-size: 20px; font-weight: bold;
  }

  .main {
    padding: 20px;
    clear: both;
  }

  .channel:after {
    clear: both;
    content: "";
    display: block;
  }

  .channel .channel-cycle {
    float: left;
    margin-right: 2px;
  }

  .channel .controls {
    border-radius: 8px;
    border: 3px solid black;
    min-height: 34px;
    margin-right: 3px;
    float: left;
    width: 200px;
  }

  .channel .controls h3 {
    line-height: 22px;
  }

  .channel.cowbell .controls       { background-color: #c73535; }
  .channel.tom_mid .controls       { background-color: #c73535; }

  .channel.conga_hi .controls      { background-color: #a3c735; }
  .channel.hihat_closed .controls  { background-color: #a3c735; }

  .channel.cymbal .controls        { background-color: #35c7b4; }
  .channel.tom_low  .controls      { background-color: #35c7b4; }

  .channel.conga_mid .controls     { background-color: #357dc7; }
  .channel.clave .controls         { background-color: #357dc7; }

  .channel.conga_low .controls     { background-color: #8435c7; }
  .channel.clap  .controls         { background-color: #8435c7; }

  .channel.hihat_open .controls    { background-color: #c735c5; }
  .channel.snare  .controls        { background-color: #c735c5; }

  .channel.tom_hi .controls        { background-color: #c76235; }
  .channel.rim  .controls          { background-color: #c76235; }

  .channel.maracas  .controls      { background-color: #c7b435; }
  .channel.kick .controls          { background-color: #c7b435; }

  .channel .controls h3 {
    float: left;
    font-size: 22px;
    margin-left: 6px;
    margin-top: 2px;
    color: #eee;

    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .channel .controls .channel-closer {
    float: right;
    margin-right: 2px;
  }

  .channel button.transparent {
    background: transparent;
    border: none;
  }

  .channel button.tiny {
    padding: 0px;
    height: 16px;
  }

  .channel .steps {
    width: 660px;
    float: left;
    padding: 0;
    margin: 0;
  }

  .channel .stepsControls {
    color: white;
    width: 17px;
    margin-right: 0;
    float: left;
  }


  .channel li {  display: inline; }
  .channel .steps ul { margin: 0;  }
  .channel .steps li {
    width: 6.25%;
    float: left;
    padding-bottom: 4px;
  }

  .step-button {
    background-color: #e78419;
    width: 80%;
    border: 3px solid black;

    border-radius: 8px;
    min-height: 34px;
    display: block;
  }

  .step-button:hover {
    -webkit-filter: brightness(120%);
  }

  .step-button:active {
    margin-top: 3px;
    min-height: 31px;
  }


  .channel .steps ul li:nth-of-type(16n+1) .step-button,
  .channel .steps ul li:nth-of-type(16n+2) .step-button,
  .channel .steps ul li:nth-of-type(16n+3) .step-button,
  .channel .steps ul li:nth-of-type(16n+4) .step-button
  {
    background-color: #ff5c31;
  }

  .channel .steps ul li:nth-of-type(16n+1) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+2) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+3) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+4) .step-button.active
  {
    border: 3px solid #7c2109;
    box-shadow: 0px 0px 18px 5px rgba(255, 115, 60, .55);
  }

  .channel .steps ul li:nth-of-type(16n+5) .step-button,
  .channel .steps ul li:nth-of-type(16n+6) .step-button,
  .channel .steps ul li:nth-of-type(16n+7) .step-button,
  .channel .steps ul li:nth-of-type(16n+8) .step-button
  {
    background-color: #ff9900;
  }

  .channel .steps ul li:nth-of-type(16n+5) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+6) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+7) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+8) .step-button.active
  {
    border: 3px solid #945d0d;
  box-shadow: 0px 0px 18px 5px rgba(255, 191, 2, .55);

  }

  .channel .steps ul li:nth-of-type(16n+9) .step-button,
  .channel .steps ul li:nth-of-type(16n+10) .step-button,
  .channel .steps ul li:nth-of-type(16n+11) .step-button,
  .channel .steps ul li:nth-of-type(16n+12) .step-button
  {
    background-color: #eed642;
  }

  .channel .steps ul li:nth-of-type(16n+9) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+10) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+11) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+12) .step-button.active
  {
    border: 3px solid #756506;
    box-shadow: 0px 0px 18px 5px rgba(251, 253, 83, .55);

  }

  .channel .steps ul li:nth-of-type(16n+13) .step-button,
  .channel .steps ul li:nth-of-type(16n+14) .step-button,
  .channel .steps ul li:nth-of-type(16n+15) .step-button,
  .channel .steps ul li:nth-of-type(16n+16) .step-button
  {
    background-color: #42c8ee;
  }

  .channel .steps ul li:nth-of-type(16n+13) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+14) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+15) .step-button.active,
  .channel .steps ul li:nth-of-type(16n+16) .step-button.active
  {
    border: 3px solid #0e6781;
  box-shadow: 0px 0px 18px 5px rgba(67, 200, 238, .55);

  }

  /* Inactive step : top color block */
  .step-button.inactive:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid black;
    height: 14px;
    background-color: inherit;
    -webkit-filter: brightness(150%);
    opacity:0.5;

  }
  /* Active step : top color block */
  .step-button.active:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid black;

    height: 12px;
    background-color: inherit;
    -webkit-filter: brightness(150%);
    opacity:0.5;
  }

/* Velocity Light */

.step-button.active.velocity50:after {
  position: relative;
  content: "";
  display: block;
  top: 6px;
  margin: 0 auto;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #fff5a4;
  border: 1px solid #d4c756;
  box-shadow: 0px 0px 10px 7px rgba(251, 253, 83, .35)
}

.step-button.inactive.velocity50:after {
  position: relative;
  content: "";
  display: block;
  top: 4px;
  margin: 0 auto;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: orange;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .25)
}


.step-button.active.velocity100:after {
  position: relative;
  content: "";
  display: block;
  top: 6px;
  margin: 0 auto;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #fefeff;
  border: 1px solid #ff00f6;
  box-shadow: 0px 0px 17px 10px rgba(255, 0, 0, .75)
}

.step-button.inactive.velocity100:after {
  position: relative;
  content: "";
  display: block;
  top: 4px;
  margin: 0 auto;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: red;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .25)
}
