<h1>Ember.js Beats</h1>

<a href="/song?data=N4IgdghgtgpiBcIDuMCWAnAJgAgGaoGcALGAkAGhABcYoAHAewQEYAWAVkoGMiIwwYAGzLwA2qAIMArmEwIQAa1RcFFEADcGgqbBaUCNOiPEahDLqioBPFgF9yodWYvWEABnuPnlm%2FDcA6dk9TQXMfd2CnUJdfDwcQsNc%2FSO8kuK9o8OT4qMTYlMy0gryInNT8ssKKjJLsmpjS%2Bqz0hIb4ZmK2ltyuzua%2Bosra7vLG1v6h3smJpsHZ6vG5xYWemeWIgF1gyRk5RAJIdDhKTW1ddv1DY3mx1aW7ldG69faBx6rbp4Cg6fuvt8%2BH2eDzsv3ewwBfkCkJGQNhELBgOG0MRwP%2BqO%2BMKxGOxN1eOIJeMxW3iO1k8iIqF4VAA%2BlxQgQYHITlodHALiADDAjAgTCCoT8iTCUUKMSKXvCuuL%2BZLmtL0UT5XDhYKJSqsVstkA">
  Arpeggi
</a>

{{outlet}}

<hr />


{{#each audioService.sounds as |sound|}}
  <button onmouseover={{action 'play' sound}}>Play {{sound}}</button>
{{/each}}
