
<div class="container">

  <div class="header">
    <h2 style="float: left;"><a href="/">Ember.js Beats</a></h2>

    <span style="float: right; padding: 8px">

      <strong style="color: white; margin-right: 4px">A work in progress...</strong> |
      <a href="https://twitter.com/gavinjoyce">@gavinjoyce</a> |
      <a href="https://github.com/GavinJoyce/ember-beats">Source</a>
    </span>
  </div>

  <br style="clear: both" />

  {{outlet}}
</div>
