<div class="container">
  <div class="header">
    <h2><a href="/">Ember.js Beats</a></h2>

    <span>
      <a href="https://twitter.com/gavinjoyce">@gavinjoyce</a> |
      <a href="https://github.com/GavinJoyce/ember-beats">Source</a>
    </span>
  </div>

  <br style="clear: both" />

  {{outlet}}
</div>
