<h1>Ember.js Beats</h1>

{{#link-to 'song' (query-params data="N4IgdghgtgpiBcIDuMCWAnAJgAgGaoGcALGAkAGhABcYoAHAewQEYAWAVkoGMiIwwYAGzLwA2qAIMArmEwIQAa1RcFFEADcGgqbBaUCNOiPEahDLqioBPFgF9yodWYvWEABnuPnlm%2FDcA6dk9TQXMfd2CnUJdfDwcQsNc%2FSO8kuK9o8OT4qMTYlMy0gryInNT8ssKKjJLsmpjS%2Bqz0hIb4ZmK2ltyuzua%2Bosra7vLG1v6h3smJpsHZ6vG5xYWemeWIgF1gyRk5RAJIdDhKTW1ddv1DY3mx1aW7ldG69faBx6rbp4Cg6fuvt8%2BH2eDzsv3ewwBfkCkJGQNhELBgOG0MRwP%2BqO%2BMKxGOxN1eOIJeMxW3iO1k8iIqF4VAA%2BlxQgQYHITlodHALiADDAjAgTCCoT8iTCUUKMSKXvCuuL%2BZLmtL0UT5XDhYKJSqsVstkA")}}
  Weird Fishes
{{/link-to}}

-

{{#link-to 'song' (query-params data="N4IgdghgtgpiBcICSACAsgSwOYAsAuKAQjCgOoBOA9mFiADQh4xQAOlCAjBwAwMDGOCGDAwANgGcEAbVDjKAVzAATBCADWGPmvogAbpVHzYnBuKYtJ8GXrGU%2BGPAE9OAXzqhdt%2B04Tc3HrwdneD93G1E7IN9%2FcMifEJjPCO9g0IDkqISwpLjUxMD4tNiU6OyCvLKMwvyqivTc10qGrPqShIBdGLlFFURxSHI4Bn1DY3gOU3NLaxy2otnM%2BfLS1sWa5o51ua21prbNvd3V6sOT47rizIPzlcuzu7zOsO7lVRwMQTwAfT4I8RgVMMDEY4ONJjALNIbi0HrcFvFrrCYfCLijfAA6ACsOwRONRy2RBKWtUa0OJzXJ21OwURaI6XQUr0Q70%2BX0oLBgYB0IxBJhAZgh0zJeLhRJFhJJISx4spRyR3Gl1NFktl9zpqvxKpl2s6nSAAA")}}
  I might be wrong
{{/link-to}}

{{outlet}}

<hr />


{{#each audioService.sounds as |sound|}}
  <button onmouseover={{action 'play' sound}}>Play {{sound}}</button>
{{/each}}
