<div class="main">

  {{#each}}
    {{partial "partials/channel" }}
  {{/each}}


  <div class="btn-group" style="margin-top: 14px; margin-left: 18px">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Add Channel
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{#each sound in App.Channel.sounds}}
        <li>
          <a {{action addChannel sound}}>
            {{sound}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
