<span class="steps">
  <ul>
    {{#each step in model itemController="step"}}
       <li class="step">
        <a href="#" {{bindAttr class="buttonClass"}} {{action click}}></a>
      </li>
    {{/each}}
  </ul>
</span>

<span class="steps-controls">
  <div>
    <button type="button" class="tiny transparent" {{action addStep}}>
      <i class="icon-plus-sign icon-white"></i>
    </button>
  </div>
  <div>
    <button type="button" class="tiny transparent" {{action removeStep}}>
      <i class="icon-minus-sign icon-white"></i>
    </button>
  </div>
</span>
